.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.input {
  margin-left: 10px;
}

.label {
  margin-bottom: 20px;
}

.fill_button {
  margin-bottom: 10px;
}
